<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Iniciar Sesión</h2>
        <form action="/login" method="POST">
            <h3>Ingresa correo electrónico:</h3>
            <br>
            <label for="login-email">
                <p><span>*</span>E-Mail:</p>
                <input id="login-email" type="email" name="user" required>
            </label>
            <h3>Ingresa contraseña:</h3>
            <br>
            <label for="login-password">
                <p><span>*</span>Contraseña:</p>
                <input id="login-password" type="password" name="password" required>
            </label>
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
</body>
</html>